@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');


body{
    margin: 0;
    font-family: arial,sans-serif;
    background-color: #fff;
}

/* Style header */

header{
    background: url("../images/bande-thewither3.jpg") no-repeat center;
    background-size: cover;
    margin: 0;
    height: 450px;
    display: flex;
    color: rgb(221, 219, 219);
    width:auto;
}

/* Style header */

/* Style menu */

nav{
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    width: auto;
    height: 80px;
    background-color: rgb(233, 187, 187);
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: row-reverse;
    padding: 0px 5px 0px 5px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 99;
}

nav li{
    display: inline-block;
    padding: 5px;
    margin-right: 5px;
    font-size: larger;
    font-family: 'Syne Mono', monospace;
}

nav li a{
    text-decoration: none;
    display: block;
    color: rgb(168, 166, 166);
}

.logo img{
    width: 6%;
    position: absolute;
    top: 0;
    right: 40px;
}

.boutons img{
    width: 50px;
    height: 50px;
}

/* Style menu */

/* Partie centrale */


.centre{
    background: url("../images/wallpaper.png") no-repeat center;
    background-size: cover;
    padding: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

    /* Partie gauche */

    main{
        max-width: 100%;
    }

    h1{
        font-size: x-large;
    }

    h2{
        font-size: large;
    }

    section{
        background-color: rgba(0, 0, 0, 0.377);
        height: 95%;
        padding: 3%;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
    }

    h1, h2, p{
        display: flex;
        flex-direction: column;
    }

    section a{
        text-decoration: none;
        font-family: 'Syne Mono', monospace;
        font-size: medium;
        color:  rgb(168, 166, 166);
        font-size: large;
        padding: 2%;
        text-align: center;
    }

    section a:hover{
        color: rgb(255, 253, 253);
    }

    .hr-1{
        margin-top: 5%;
        margin-bottom: 5%;
        width: 90%;
    }

    .hr-2{
        margin-top: 5%;
        margin-bottom: 1%;
        width: 90%;
    }

    section iframe{
        position: relative;
        margin-top: 50px;
        border-radius: 5px;
    }

    .text{
        font-family: 'Syne Mono', monospace;
        color:  rgb(168, 166, 166);
        overflow: hidden;
        padding-left: 170px;
    }

    .text .pic{
        float: left;
        margin-left: -170px;
        width: 30%;
        height: 100%;
        padding-right: 3%;
    }

    /* Partie gauche */

    /* Partie droite */

    aside{
        clear: both;
        max-width: 30%;
        height: 150%;
        padding-left: 3%;
    }

    .platforme{
        display: flex;
        flex-direction: row;
        background-color: rgba(136, 135, 135, 0.473);
        border-radius: 30px;
        padding: 5%;
        margin-bottom: 40px;
        margin-top: 10px;
    }

    .icons img{
    margin: 10px;
    }

    .nom-platforme{
        font-family: 'Syne Mono', monospace;
        display: flex;
        flex-direction: column;
        margin-top: 5px;
        padding: 1px 28px 1px; 
        font-size: larger;
        width: 100%;
    }

    .extensions{
        background-color: rgba(136, 135, 135, 0.616);
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        padding: 2%;
        height: 50%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    h4{
        font-family: 'Syne Mono', monospace;
        font-size: larger;
        margin-top: 5px;
        margin-left: 10px;
    }

    h5{
        font-family: 'Syne Mono', monospace;
        font-size: large;
        margin-top: 10px;
        margin-left: 40px;
        padding: 1px 5px 1px;
    }

    h6{
        font-family: 'Syne Mono', monospace;
        font-size: x-large;
        text-align: center;
    }

    .icons img{
        width: 40%;
        display: flex;
        flex-direction: column;
    }

    /* Partie droite */

/* Partie centrale */

/* Style footer */

footer{
    height: 50px;
    background-color:rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  footer p{
    text-align: center;
    color: rgb(168, 166, 166);
    font-family: 'Syne Mono', monospace;
  }

  /* Style footer */